# Core ML & CV
torch==2.6.0
torchvision==0.21.0
ultralytics==8.3.107
numpy>=1.26.4
opencv-python-headless==4.6.0.66


# Web UI
streamlit==1.44.1
matplotlib==3.9.4

# Optional utility libraries 
tqdm==4.67.1
PyYAML==6.0.2
